---
layout: default
---

<h1><%= data.title %></h1>
<%= content %>

<h2><%= data.author %></h2>

<% user = site.data.users[page.author] %>
<% if user %>
  <div class="author">
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    <p><%= user.name %></p>
  </div>
<% else %>
  <p>Brak autora</p>
<% end %>
